body{
    background: #222;
    color: white;
}
.state234{
    color: #FFC928;
    font-size:20px ;
     margin-left: 20px; 
    margin-top: -30px;
}
.state235{
    font-size:15px ; 
    margin-left: 350px;
     margin-top: -50px; 
    color: #AC77F9;
}
.state236{
    font-size:15px ; 
    margin-left: 550px;
     margin-top: -60.5px; 
     color: #FF416C;
}
.state237{
    font-size:15px ; 
    margin-left: 750px; 
    margin-top: -60.5px; 
    color: #61CE81;
}
#myBtn2 {
    text-align: center;
    
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 100%;
  }
  
  #myBtn2:hover {
    background-color: #555;
  }

.box1{
    text-align: center;
    margin-top: 15px;
    width: 180px;
    height: 100px;
    background:#333333; 
}

.box2{
    text-align: center;
    margin-top: 15px;
    width: 180px;
    height: 100px;
    background:#333333;
}
.box3{
    text-align: center;
    margin-top: 15px;
    width: 180px;
    height: 100px;
    background:#333333;
}
.margin{
    font-size: 20px;
}
.box11{
    height: 60px;
    width: 900px;
    margin-top: 50px;
}
.box10{
    border-radius: 5%;
    text-align: center;
    margin-top: 5px;
    width: 900px;
    background: rgba(51,51,51,0.35);
}
.filtered{
    display: none !important;
}
.margin1{
    color: #AC77F9;
    padding-top :0px;
    font-size: 20px;
}
.margin2{
    color: #FF416C;
    padding-top: 0px;
    font-size: 20px;
}
.margin3{
    color: #61CE81;
    padding-top: 0px;
    font-size: 20px;
}
form{
    margin-top: 50px;
}


@media only screen and (max-width: 400px){    
 
    .box1{
     height: 80px;
     width: 150px;
    
 }    

.margin{
    padding-top: 5px;
    font-size: 15px ;
}
.search input {
    margin-top: -50px;
    font-size: 10px;
}
.margin1{
    font-size: 20px;
}
.box2{
    height: 80px;
    width: 150px;
    margin-left: 180px;
    margin-top: -80px;
}    
.box3{
    height: 80px;
    width: 150px;
    margin-left: 90px;
}
.box11{
    width: 300px;
    height: 20px;
}
.update1{
    display: none;
}
.state234{
    padding-top: -10px;
    font-size: 10px;
    
    padding-left: -20px;
    margin-left: -10px;
}
.state235{
    font-size: 10px;
    margin-left:100px;
    padding-top:10px;
}
.state236{
    font-size: 10px;
    margin-left:170px;
    padding-top:15px;
}
.state237{
    font-size: 10px;
    margin-left:250px;
    padding-top:15px;

}
.hr{
    display: none;
}
}
@media only screen and (min-width:400px)  and (max-width: 500px)   
    {    

    .box1{
        height: 80px;
        width: 150px;
        margin-left:20px ;
    }    
   
   .margin{
    
       padding-top: 5px;
       font-size: 15px ;
   }
   .search input {
       margin-top: -50px;
       font-size: 10px;
   }
   .margin1{
       font-size: 20px;
   }
   .box2{
       height: 80px;
       width: 150px;
       margin-left: 200px;
       margin-top: -80px;
   }    
   .box3{
       height: 80px;
       width: 150px;
       margin-left: 110px;
   }
   .box11{
       width: 300px;
       height: 40px;
   }
   .update1{
       display: none;
   }
   .state234{
       padding-top: -10px;
       font-size:15px;
       
       padding-left: -20px;
       margin-left: -15px;
   }
   .state235{
       font-size: 15px;
       margin-left:100px;
       padding-top:10px;
       
   }
   .state236{
       font-size: 15px;
       margin-left:190px;
       padding:0px;
   }
   .state237{
       font-size: 15px;
       margin-left:270px;
       padding-top:0px;
   
   }
   .hr{
       display: none;
   }
}
